fastapi
pydantic
# psycopg2  # this one works with python images, for pytorch use the below
psycopg2-binary
sqlalchemy
pandas
numpy
scikit-learn
uvicorn
email-validator
passlib
bcrypt==4.0.1
python-jose
starlette
graphene
alembic
pymongo
transformers
google-ads
googleads
openai
python-dotenv
scipy
uvicorn
mailersend
jwt
python-multipart
torchvision
torch
matplotlib
accelerate
transformers
tokenizers
bitsandbytes
einops
langchain
langchain_community
sentence_transformers
sentencepiece
PyMuPDF
protobuf
faiss-gpu-cu12
faiss-cpu